* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 10vw;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.theader {
    display: flex;
    flex-direction: row;
    width: 80vw;
    padding-bottom: 30px;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    flex: none;
}

.box {
    display: flex;
    padding: 10px 100px;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    /* width: 100vw;
    min-height: 200px;
    align-items: center; */
    flex: 1;
    margin: 0 200px;
}

.box.spacebet {
    justify-content: space-between;
}

.logo {
    color: white;
    margin-right: 30px;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 30px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

img {  
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

article {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex: 1;
    width: 22vw;
    height: auto;
}

.b1content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-flow: row nowrap;
}

.whitetext {
    color: white;
}



.darkback {
    background-color: #8d6f57;
}

.lightback {
    background-color: #b8b6a9;
}

.cardbox {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    gap: 30px;
}

.cardimg {
    display: flex;
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
    border-style: white 3px;
}

button {
    color: whitesmoke;
    background-color: #cfa454;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.footerbox {
    width: 70vw;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    flex-direction: row;
    border-style: none;
    border-radius: 10px;
    margin: 30px;
    background-color: #8d6f57;
}

.b1text {
    flex: 1;
}

p {
    max-width: 450px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.smalltext {
    font-size: 13px;
}

.darkbrown {
    color: #5e4f43;
}

.shiftimgdn {
    object-position: -10% 0;;
}

.shiftimgup {
    object-position: 32% 0%;
}

.italicize {
    font-style: italic;
    font-weight: 400;
}

.grey {
    color: rgb(212, 212, 212);
}

.bold {
    font-weight: 700;
}